body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.logo1 {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.alturadeimg{
    height: 200px;
}
.Veneno{
    background-color: blueviolet;
}
.radiotipo{
    border-radius: 100px;
}
.cajapokemon{
    border-radius: 50px;
    margin: 20px;
}
@media all and (min-width: 993px) {
    .fuente {
        font-size: 100px;
    }
    .texto{
        font-size: 30px;
    }
    .alturadeimg{
        height: 550px;
        object-fit: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .fuente {
        font-size: 50px;
    }
    .texto{
        font-size: 18px;
    }
    .alturadeimg{
        height: 300px;
    }
}
