body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
.logo1 {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.alturadeimg{
    height: 200px;
}
.Veneno{
    background-color: blueviolet;
}
.radiotipo{
    border-radius: 100px;
}
.cajapokemon{
    border-radius: 60px;
   margin: 10px 5px 10px 5px;
}
li{
    list-style: none;
    margin:12px 12px 12px 0px;
    
}
ul{
    padding: 0px;
}
.estadisticas{
    border-radius: 40px;
    margin: 20px;
}
.blastoise{
    width: 300px;
    height: 300px;
}
.fondoevolucion{
    background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #373a41 50%, #897070 100%);
}
.evoluciones{ 
    width: 200px;
    height: 200px;
}
@media all and (min-width: 993px) {
    .fuente {
        font-size: 100px;
    }
    .texto{
        font-size: 30px;
    }
    .alturadeimg{
        height: 550px;
        object-fit: cover;
    }
    li{
        list-style: none;
        margin:12px 12px 12px 0px;
        font-size: 25px;
    }
    .listidem{
        font-size: 25px;
    }
    .blastoise{
        width: 100%;
        height: 450px;
    }
    .evoluciones{ 
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .fuente {
        font-size: 50px;
    }
    .texto{
        font-size: 18px;
    }
    .alturadeimg{
        height: 300px;
    }
    .blastoise{
        width: 450;
        height: 450px;
    }
    .evoluciones{ 
        width: 300px;
        height: 300px;
    }
}
